In [2]:
import pandas as pd

In [3]:
building = pd.read_csv('../data/building_info.csv')
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

In [4]:
building.head()

   건물번호 건물유형    연면적(m2)   냉방면적(m2) 태양광용량(kW) ESS저장용량(kWh) PCS용량(kW)
0     1   호텔   82912.71   77586.00         -            -         -
1     2   상용   40658.90   30392.82         -            -         -
2     3   병원  560431.00  418992.00    278.58            -         -
3     4   호텔   41813.29   23715.71         -            -         -
4     5   학교  403749.39  248507.00   1983.05         1025       250

In [5]:
train.head()

,num_date_time,건물번호,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh)
0,1_20240601 00,1,20240601 00,18.3,0.0,2.6,82.0,0.0,0.0,5794.80
1,1_20240601 01,1,20240601 01,18.3,0.0,2.7,82.0,0.0,0.0,5591.85
2,1_20240601 02,1,20240601 02,18.1,0.0,2.6,80.0,0.0,0.0,5338.17
3,1_20240601 03,1,20240601 03,18.0,0.0,2.6,81.0,0.0,0.0,4554.42
4,1_20240601 04,1,20240601 04,17.8,0.0,1.3,81.0,0.0,0.0,3602.25

In [7]:
test.head()

   num_date_time  건물번호           일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)
0  1_20240825 00     1  20240825 00    26.5      0.0      0.7   80.0
1  1_20240825 01     1  20240825 01    26.1      0.0      0.0   80.0
2  1_20240825 02     1  20240825 02    25.9      0.0      0.3   83.0
3  1_20240825 03     1  20240825 03    25.7      0.0      1.1   83.0
4  1_20240825 04     1  20240825 04    25.5      0.0      1.0   86.0